menu "LORA Configuration"
    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the example to connect to.
    
    config OLED_USE_I2C_DISPLAY
        bool "OLED_USE_I2C_DISPLAY"
        default true
        help
            Whether to use I2C instead of SPI

    config PLAY_REMOTE
        bool "PLAY_REMOTE"
        default false
        help
            Whether we should wait for remote input
endmenu